<div class="timer">
  <div class="card">
    <!-- <p id="demo"></p>     -->
    <countdown class="counter" #cd1 [config]="{ leftTime: 30, demand: true }">
    </countdown>
    <div class="btn-group">
      <button class="btn" (click)="cd1.begin()">Start</button>
      <button class="btn" (click)="cd1.pause()">Pause</button>
      <button class="btn" (click)="cd1.resume()">Resume</button>
      <button class="btn" (click)="cd1.stop()">Stop</button>
      <button class="btn" (click)="cd1.restart()">ReStart</button>
    </div>
  </div>
</div>
